<%- include("partials/header") %>
<div class="container form">


<div class="row">
    <form action="/addBlog" method="post">
 <div class="col col-12">
     <label class="form-label">Title</label>
     <input type="text" name="title" id="" class="form-control required">
 </div>
 <div class="col col-12">
    <label class="form-label">Post</label>
    <textarea name="content" id="" class="form-control" cols="30" rows="12"></textarea>
 </div>
 <div class="col col-12">
     <button type="submit" class="btn  btn-success">Create Blog</button>
 </div>
</form>
</div>
</div>

<%- include("partials/footer") %>