<%- include("partials/header") %>
<div class= "container mid">
    <h1 class="text-success">Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda beatae id reprehenderit veritatis consectetur iure quidem, dolorem nam asperiores praesentium, illum rerum laborum dolorum rem. Deserunt optio placeat temporibus.</p>
    <a class = "gap" href=""><i class="fab fa-facebook-f "></i></a>
    <a class = "gap" href=""><i class="fab fa-twitter"></i></a>
    <a class = "gap" href=""> <i class="fad fa-envelope-square"></i></a>
    <a class = "gap" href=""> <i class="fas fa-phone-alt"></i></a>
</div>
<%- include("partials/footer") %>