<%- include("partials/header")%>
<div class="container  form">
   
<h1>Register</h1>
<div class="row">
    
  <form action="/Register" method="POST" class="">
    <div class="col col-12">
      <label class="form-label">Username</label>
     <input type="text" name="username"class="form-control">
 </div>
    <div class="col col-12">
        <label class="form-label">Email</label>
       <input type="text" name="email"class="form-control">
   </div>
  </div>
   <div class = "row">
   <div class="col col-6">
    
    <label class= "form-label" >Gender:</label>

    <select name="gender" class="form-control"  >
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">other</option>
    </select>

</div>
<div class="col col-6">
  <label class="form-label">Phone Number</label>
 <input type="number" name="mobile" class="form-control">
</div>
</div>
<div class="row">
   <div class="col col-12">
       <label class="form-label" >Password</label>
      <input type="password" name="password" class="form-control">
  </div> 
    <button type="submit" class="btn  btn-primary">Register</button>
     
  </form>
</div>
</div>

<%- include("partials/footer")%>