/* navBar Css */

nav{
    height: 7rem;
    background-color:#FCD8D4;
}

.navitem{
    padding : 0 35px;
    
    letter-spacing: 3px;
    

}
.nav-link{
    font-size: 20px;
    color:black;
}
.navbar-brand{
    font-size: 35px;
    padding: 0 20px;
    color:black;
}


/* For Footer section */

.footer-padding {
	padding-bottom: 60px;
}

.footer {
 	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #FDF6F0;


}


.footer p {
	margin-top: 25px;
	font-size: 16px;
    color: black;
}

h1{
    color:#FFA0A0;
    margin-top: 40px;
    
}

p{
    padding-top: 20px;
}






.form {
    width: 45%;
    height: 600px;
    margin-top: 30px;
}
.btn{
    margin: 20px;

}
.mid{
    margin-top: 100px;
    text-align: center;
}


/* for profile page */
.padding{
    padding: 3rem;
}

/* For Contact Us Page */


.gap{
  padding: 20px;  
}





#homebutton{

    text-align: center;
    margin-bottom: 40px;
}
